body {
	font-family: sans-serif;
	font-size: 18px;
	background-color: #F5F9FF;
}

.container {
	display: grid;
	background-color: white;
	width: 420px;
	height: 370px;
	border: 1px #E1E1E1 solid;

}
.sub{
	 display: flex;
	 justify-content: space-between;
	 padding: 12px 15px;
}
.title {
	font-size: 18px;
	color: #414141;
	font-weight: bold;
}

.item1 {
	border-bottom: 1px #E1E1E1 solid;
}
.item2 {
	border-bottom: 1px #E1E1E1 solid;
	font-size: 16px;
	color: #808080;
}
.item3{
	font-size: 16px;
	color: #808080;
}
.sub-text {
	padding-top: 4px;
}
.text1 {
	font-size: 16px;
	color: #808080;
	padding-bottom: 5px;
}
.text2{
	font-size: 15px;
}
.total {
	font-weight: bold;
	color: #4a4a4a;
}
.number {
	font-size: 25px;
	padding-top: 9px;
	font-weight: bold;
}
/**/
.item4 {
	border: 1px solid #a3d4f4;
	background-color: #F5F9FF;
	margin: 0px 15px;
}
.num-total {
	color: #208FD8;
	font-size: 17px;
}
/**/
button {
	background-color: #208FD8;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px;
	color: white;
	cursor: pointer;
	font-size: 14px;
}
.item5 {
	padding: 12px 15px 15px;
}